<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% block title %}{% endblock %}
    <link rel="stylesheet" href="{{ url_for('static',filename='style.css')}}" >
    <!-- <link rel="stylesheet" href="style.css"> -->

    
  </head>
  <body>
       
    <header>
    
    <div class="topnav">
          
      <a class="active" href="/patient">Create Profile</a>
      <a href='/booking'>Book Appointment</a>
      <a class="nav-link" href="profile">Personal Details</a>
      <a class="nav-link" href="book">Appointmnet Status</a>
      <a class="nav-link" href="update_patient">Update Details</a>
      <a class="nav-link" href="view_doctor">View Doctor</a>
      <!-- <a class="nav-link" href="#">Receipt of Payment</a> -->
      <a class="nav-link"  href="{{url_for("logout")}}">Logout</a>
    
    </div>
  </header>
  <br><br>
      {% block body %}{% endblock %}
  </body>
</html>